@import "bootstrap";

$greenish: #C8E6C8;
$stripped-background: #DCDCFA;
$darker-blue: #428BCA;
$lighter-blue: #C8DDF0;

.my-btn {
  @extend .btn;
  margin-top: 2px;
  margin-bottom: 2px;
}

.btn-show {
  @extend .my-btn;
	@extend .btn-success;
}

.btn-edit {
  @extend .my-btn;
	@extend .btn-warning;
}

.btn-destroy {
  @extend .my-btn;
	@extend .btn-danger;	
}

.btn-new {
  @extend .my-btn;
	@extend .btn-info;
}

.btn-devise {
  @extend .btn-new;
}

.btn-back {
  @extend .my-btn;
	@extend .btn-primary;
}

.btn-save {
  @extend .my-btn;
	@extend .btn-success;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: $stripped-background;
 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: $greenish;
}

.table-def {
  @extend .table;
  @extend .table-striped;
  @extend .table-hover;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  
}

.form-group {
  border-radius: 5px;
  color: white;
  background-color: $darker-blue;
  label {
    margin-left: 5px;
  }
}

.panel-body-primary {
  @extend .panel-body;
  background-color: $lighter-blue;
}

.subitem {
  @extend .well;
  @extend .well-sm;
  border-radius: 10px;
  background-color: white;
}

.subitem-hover {
  @extend .subitem;
  background-color: white;
  cursor: pointer;
}

div.subitem-hover:hover{
  background-color: $greenish;
}

.view-title{
  @extend .h1;
  @extend .well;
  text-align: center;
  color: $darker-blue;
}

.right{
  float: right;
  text-align: right; 
}

td .my-btn {
  @extend .right;
}

.navbar-home {
  @extend .navbar-brand;
  cursor: pointer;
}