.view-title
  Category:
  = category.name

%br

= super_panel('Products', products, 'This category has no products', 'New product', 'products/form')

= admin_only_link_to 'Edit', edit_category_path(category), class: 'btn-edit'
= link_to 'Back', categories_path, class: 'btn-back'
